USE [DU_LICH_TU_TUC]
GO
/****** Object:  Table [dbo].[CHI_TIET_DON_DAT]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DON_DAT](
	[ma_chi_tiet] [int] IDENTITY(1,1) NOT NULL,
	[ma_don] [int] NOT NULL,
	[ma_dich_vu] [int] NOT NULL,
	[so_luong] [int] NULL,
	[don_gia] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_chi_tiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_LICH_TRINH]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_LICH_TRINH](
	[ma_chi_tiet] [int] IDENTITY(1,1) NOT NULL,
	[ma_lich_trinh] [int] NOT NULL,
	[ma_dia_diem] [int] NOT NULL,
	[ma_dich_vu] [int] NOT NULL,
	[thu_tu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_chi_tiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_GIA]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_GIA](
	[ma_danh_gia] [int] IDENTITY(1,1) NOT NULL,
	[ma_nguoi_dung] [int] NOT NULL,
	[ma_dich_vu] [int] NULL,
	[ma_dia_diem] [int] NULL,
	[so_sao] [tinyint] NULL,
	[binh_luan] [nvarchar](max) NULL,
	[ngay_danh_gia] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_danh_gia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_MUC_DICH_VU]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_MUC_DICH_VU](
	[ma_danh_muc] [int] IDENTITY(1,1) NOT NULL,
	[ten_danh_muc] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_danh_muc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIA_DIEM]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIA_DIEM](
	[ma_dia_diem] [int] IDENTITY(1,1) NOT NULL,
	[ten_dia_diem] [nvarchar](150) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
	[dia_chi] [nvarchar](255) NULL,
	[tinh_thanh] [nvarchar](100) NULL,
	[quoc_gia] [nvarchar](100) NULL,
	[toa_do] [geography] NULL,
	[ngay_tao] [datetime] NULL,
	[da_xoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_dia_diem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICH_VU]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICH_VU](
	[ma_dich_vu] [int] IDENTITY(1,1) NOT NULL,
	[ma_danh_muc] [int] NOT NULL,
	[ma_dia_diem] [int] NOT NULL,
	[ten_dich_vu] [nvarchar](150) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
	[gia_co_ban] [decimal](15, 2) NOT NULL,
	[so_luong_toi_da] [int] NULL,
	[ngay_tao] [datetime] NULL,
	[da_xoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_dich_vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_DAT]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT](
	[ma_don] [int] IDENTITY(1,1) NOT NULL,
	[ma_nguoi_dung] [int] NOT NULL,
	[ma_giam_gia] [int] NULL,
	[tong_tien] [decimal](15, 2) NULL,
	[trang_thai] [nvarchar](20) NULL,
	[ngay_dat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINH_ANH]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINH_ANH](
	[ma_hinh] [int] IDENTITY(1,1) NOT NULL,
	[ma_dich_vu] [int] NULL,
	[ma_dia_diem] [int] NULL,
	[url] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_hinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH_TRINH]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_TRINH](
	[ma_lich_trinh] [int] IDENTITY(1,1) NOT NULL,
	[ma_nguoi_dung] [int] NOT NULL,
	[ten_lich_trinh] [nvarchar](150) NOT NULL,
	[ngay_bat_dau] [date] NOT NULL,
	[ngay_ket_thuc] [date] NOT NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_lich_trinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_GIAM_GIA]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_GIAM_GIA](
	[ma_giam_gia] [int] IDENTITY(1,1) NOT NULL,
	[ma_code] [nvarchar](50) NOT NULL,
	[phan_tram_giam] [decimal](5, 2) NULL,
	[so_tien_giam] [decimal](15, 2) NULL,
	[so_luong] [int] NULL,
	[ngay_bat_dau] [date] NOT NULL,
	[ngay_ket_thuc] [date] NOT NULL,
	[da_xoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_giam_gia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI_DUNG]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_DUNG](
	[ma_nguoi_dung] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[mat_khau] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[so_dien_thoai] [nvarchar](15) NULL,
	[vai_tro] [nvarchar](50) NULL,
	[ngay_tao] [datetime] NULL,
	[da_xoa] [bit] NULL,
	[ngay_sinh] [date] NULL,
	[anh_dai_dien] [nvarchar](255) NULL,
	[trang_thai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nguoi_dung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANH_TOAN]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANH_TOAN](
	[ma_thanh_toan] [int] IDENTITY(1,1) NOT NULL,
	[ma_don] [int] NOT NULL,
	[phuong_thuc] [nvarchar](20) NULL,
	[so_tien] [decimal](15, 2) NOT NULL,
	[trang_thai] [nvarchar](20) NULL,
	[ma_giao_dich] [nvarchar](100) NULL,
	[ngay_thanh_toan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_thanh_toan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHI_TIET_DON_DAT] ON 

INSERT [dbo].[CHI_TIET_DON_DAT] ([ma_chi_tiet], [ma_don], [ma_dich_vu], [so_luong], [don_gia]) VALUES (1, 1, 8, 1, CAST(800000.00 AS Decimal(15, 2)))
INSERT [dbo].[CHI_TIET_DON_DAT] ([ma_chi_tiet], [ma_don], [ma_dich_vu], [so_luong], [don_gia]) VALUES (2, 1, 5, 2, CAST(300000.00 AS Decimal(15, 2)))
INSERT [dbo].[CHI_TIET_DON_DAT] ([ma_chi_tiet], [ma_don], [ma_dich_vu], [so_luong], [don_gia]) VALUES (3, 2, 6, 1, CAST(1500000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[CHI_TIET_DON_DAT] OFF
GO
SET IDENTITY_INSERT [dbo].[CHI_TIET_LICH_TRINH] ON 

INSERT [dbo].[CHI_TIET_LICH_TRINH] ([ma_chi_tiet], [ma_lich_trinh], [ma_dia_diem], [ma_dich_vu], [thu_tu]) VALUES (1, 1, 1, 1, 1)
INSERT [dbo].[CHI_TIET_LICH_TRINH] ([ma_chi_tiet], [ma_lich_trinh], [ma_dia_diem], [ma_dich_vu], [thu_tu]) VALUES (2, 1, 2, 2, 2)
INSERT [dbo].[CHI_TIET_LICH_TRINH] ([ma_chi_tiet], [ma_lich_trinh], [ma_dia_diem], [ma_dich_vu], [thu_tu]) VALUES (3, 1, 3, 3, 3)
SET IDENTITY_INSERT [dbo].[CHI_TIET_LICH_TRINH] OFF
GO
SET IDENTITY_INSERT [dbo].[DANH_GIA] ON 

INSERT [dbo].[DANH_GIA] ([ma_danh_gia], [ma_nguoi_dung], [ma_dich_vu], [ma_dia_diem], [so_sao], [binh_luan], [ngay_danh_gia]) VALUES (1, 1, 5, NULL, 5, N'Dịch vụ rất tốt, nhân viên nhiệt tình', CAST(N'2026-04-15T20:24:25.383' AS DateTime))
INSERT [dbo].[DANH_GIA] ([ma_danh_gia], [ma_nguoi_dung], [ma_dich_vu], [ma_dia_diem], [so_sao], [binh_luan], [ngay_danh_gia]) VALUES (2, 2, 6, NULL, 4, N'Ổn áp, giá hợp lý', CAST(N'2026-04-15T20:24:25.383' AS DateTime))
INSERT [dbo].[DANH_GIA] ([ma_danh_gia], [ma_nguoi_dung], [ma_dich_vu], [ma_dia_diem], [so_sao], [binh_luan], [ngay_danh_gia]) VALUES (3, 3, 6, NULL, 3, N'Bình thường, chưa có gì nổi bật', CAST(N'2026-04-15T20:24:25.383' AS DateTime))
SET IDENTITY_INSERT [dbo].[DANH_GIA] OFF
GO
SET IDENTITY_INSERT [dbo].[DANH_MUC_DICH_VU] ON 

INSERT [dbo].[DANH_MUC_DICH_VU] ([ma_danh_muc], [ten_danh_muc]) VALUES (1, N'Khách sạn')
INSERT [dbo].[DANH_MUC_DICH_VU] ([ma_danh_muc], [ten_danh_muc]) VALUES (2, N'Nhà hàng')
INSERT [dbo].[DANH_MUC_DICH_VU] ([ma_danh_muc], [ten_danh_muc]) VALUES (3, N'Tour')
SET IDENTITY_INSERT [dbo].[DANH_MUC_DICH_VU] OFF
GO
SET IDENTITY_INSERT [dbo].[DIA_DIEM] ON 

INSERT [dbo].[DIA_DIEM] ([ma_dia_diem], [ten_dia_diem], [mo_ta], [dia_chi], [tinh_thanh], [quoc_gia], [toa_do], [ngay_tao], [da_xoa]) VALUES (1, N'Hồ Gươm', N'Trung tâm Hà Nội', N'Hoàn Kiếm', N'Hà Nội', N'Việt Nam', 0xE6100000010C9EEFA7C64B073540910F7A36AB765A40, CAST(N'2026-04-15T20:24:25.350' AS DateTime), 0)
INSERT [dbo].[DIA_DIEM] ([ma_dia_diem], [ten_dia_diem], [mo_ta], [dia_chi], [tinh_thanh], [quoc_gia], [toa_do], [ngay_tao], [da_xoa]) VALUES (2, N'Bà Nà Hills', N'Khu du lịch nổi tiếng', N'Đà Nẵng', N'Đà Nẵng', N'Việt Nam', 0xE6100000010C04560E2DB2FD2F40D734EF3845FF5A40, CAST(N'2026-04-15T20:24:25.350' AS DateTime), 0)
INSERT [dbo].[DIA_DIEM] ([ma_dia_diem], [ten_dia_diem], [mo_ta], [dia_chi], [tinh_thanh], [quoc_gia], [toa_do], [ngay_tao], [da_xoa]) VALUES (3, N'Phú Quốc', N'Đảo du lịch', N'Kiên Giang', N'Kiên Giang', N'Việt Nam', 0xE6100000010C8638D6C56D942440E5D022DBF9FE5940, CAST(N'2026-04-15T20:24:25.350' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[DIA_DIEM] OFF
GO
SET IDENTITY_INSERT [dbo].[DICH_VU] ON 

INSERT [dbo].[DICH_VU] ([ma_dich_vu], [ma_danh_muc], [ma_dia_diem], [ten_dich_vu], [mo_ta], [gia_co_ban], [so_luong_toi_da], [ngay_tao], [da_xoa]) VALUES (1, 1, 1, N'Khách sạn Hồ Gươm', N'Khách sạn trung tâm, tiện nghi', CAST(600000.00 AS Decimal(15, 2)), 50, CAST(N'2026-04-15T20:24:25.357' AS DateTime), 0)
INSERT [dbo].[DICH_VU] ([ma_dich_vu], [ma_danh_muc], [ma_dia_diem], [ten_dich_vu], [mo_ta], [gia_co_ban], [so_luong_toi_da], [ngay_tao], [da_xoa]) VALUES (2, 2, 1, N'Nhà hàng phố cổ', N'Đặc sản Hà Nội', CAST(300000.00 AS Decimal(15, 2)), 100, CAST(N'2026-04-15T20:24:25.357' AS DateTime), 0)
INSERT [dbo].[DICH_VU] ([ma_dich_vu], [ma_danh_muc], [ma_dia_diem], [ten_dich_vu], [mo_ta], [gia_co_ban], [so_luong_toi_da], [ngay_tao], [da_xoa]) VALUES (3, 3, 2, N'Thuê xe máy Hà Nội', N'Thuê theo ngày', CAST(150000.00 AS Decimal(15, 2)), 30, CAST(N'2026-04-15T20:24:25.357' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[DICH_VU] OFF
GO
SET IDENTITY_INSERT [dbo].[DON_DAT] ON 

INSERT [dbo].[DON_DAT] ([ma_don], [ma_nguoi_dung], [ma_giam_gia], [tong_tien], [trang_thai], [ngay_dat]) VALUES (1, 1, NULL, CAST(800000.00 AS Decimal(15, 2)), N'Thành công', CAST(N'2026-04-01T00:00:00.000' AS DateTime))
INSERT [dbo].[DON_DAT] ([ma_don], [ma_nguoi_dung], [ma_giam_gia], [tong_tien], [trang_thai], [ngay_dat]) VALUES (2, 2, 1, CAST(1200000.00 AS Decimal(15, 2)), N'Thành công', CAST(N'2026-04-02T00:00:00.000' AS DateTime))
INSERT [dbo].[DON_DAT] ([ma_don], [ma_nguoi_dung], [ma_giam_gia], [tong_tien], [trang_thai], [ngay_dat]) VALUES (3, 3, NULL, CAST(500000.00 AS Decimal(15, 2)), N'Chờ xác nhận', CAST(N'2026-04-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[DON_DAT] OFF
GO
SET IDENTITY_INSERT [dbo].[HINH_ANH] ON 

INSERT [dbo].[HINH_ANH] ([ma_hinh], [ma_dich_vu], [ma_dia_diem], [url]) VALUES (1, 6, NULL, N'img1.jpg')
INSERT [dbo].[HINH_ANH] ([ma_hinh], [ma_dich_vu], [ma_dia_diem], [url]) VALUES (2, 8, NULL, N'img2.jpg')
INSERT [dbo].[HINH_ANH] ([ma_hinh], [ma_dich_vu], [ma_dia_diem], [url]) VALUES (3, 3, NULL, N'img3.jpg')
SET IDENTITY_INSERT [dbo].[HINH_ANH] OFF
GO
SET IDENTITY_INSERT [dbo].[LICH_TRINH] ON 

INSERT [dbo].[LICH_TRINH] ([ma_lich_trinh], [ma_nguoi_dung], [ten_lich_trinh], [ngay_bat_dau], [ngay_ket_thuc], [ngay_tao]) VALUES (1, 1, N'Du lịch Hà Nội 2 ngày', CAST(N'2026-05-01' AS Date), CAST(N'2026-05-02' AS Date), CAST(N'2026-04-15T20:24:25.360' AS DateTime))
INSERT [dbo].[LICH_TRINH] ([ma_lich_trinh], [ma_nguoi_dung], [ten_lich_trinh], [ngay_bat_dau], [ngay_ket_thuc], [ngay_tao]) VALUES (2, 2, N'Khám phá Hạ Long', CAST(N'2026-05-03' AS Date), CAST(N'2026-05-05' AS Date), CAST(N'2026-04-15T20:24:25.360' AS DateTime))
INSERT [dbo].[LICH_TRINH] ([ma_lich_trinh], [ma_nguoi_dung], [ten_lich_trinh], [ngay_bat_dau], [ngay_ket_thuc], [ngay_tao]) VALUES (3, 3, N'Du lịch Sapa', CAST(N'2026-05-06' AS Date), CAST(N'2026-05-08' AS Date), CAST(N'2026-04-15T20:24:25.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[LICH_TRINH] OFF
GO
SET IDENTITY_INSERT [dbo].[MA_GIAM_GIA] ON 

INSERT [dbo].[MA_GIAM_GIA] ([ma_giam_gia], [ma_code], [phan_tram_giam], [so_tien_giam], [so_luong], [ngay_bat_dau], [ngay_ket_thuc], [da_xoa]) VALUES (1, N'GIAM10', CAST(10.00 AS Decimal(5, 2)), NULL, 100, CAST(N'2026-04-01' AS Date), CAST(N'2026-06-30' AS Date), 0)
INSERT [dbo].[MA_GIAM_GIA] ([ma_giam_gia], [ma_code], [phan_tram_giam], [so_tien_giam], [so_luong], [ngay_bat_dau], [ngay_ket_thuc], [da_xoa]) VALUES (2, N'GIAM20', CAST(20.00 AS Decimal(5, 2)), NULL, 50, CAST(N'2026-04-01' AS Date), CAST(N'2026-06-30' AS Date), 0)
INSERT [dbo].[MA_GIAM_GIA] ([ma_giam_gia], [ma_code], [phan_tram_giam], [so_tien_giam], [so_luong], [ngay_bat_dau], [ngay_ket_thuc], [da_xoa]) VALUES (3, N'GIAM30', CAST(30.00 AS Decimal(5, 2)), NULL, 30, CAST(N'2026-04-01' AS Date), CAST(N'2026-05-31' AS Date), 0)
SET IDENTITY_INSERT [dbo].[MA_GIAM_GIA] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUOI_DUNG] ON 

INSERT [dbo].[NGUOI_DUNG] ([ma_nguoi_dung], [ho_ten], [mat_khau], [email], [so_dien_thoai], [vai_tro], [ngay_tao], [da_xoa], [ngay_sinh], [anh_dai_dien], [trang_thai]) VALUES (1, N'Nguyễn Văn Anh', N'$2a$11$vI8gotgCc674hatxSARyk./lt.jWHe3/PiGJCczOIgOlimliGRcea', N'a@gmail.com', N'0911111111', N'Traveler', CAST(N'2026-04-15T20:24:25.303' AS DateTime), 0, NULL, NULL, NULL)
INSERT [dbo].[NGUOI_DUNG] ([ma_nguoi_dung], [ho_ten], [mat_khau], [email], [so_dien_thoai], [vai_tro], [ngay_tao], [da_xoa], [ngay_sinh], [anh_dai_dien], [trang_thai]) VALUES (2, N'Trần Thị Bich', N'123456', N'b@gmail.com', N'0911111112', N'ServiceProvider', CAST(N'2026-04-15T20:24:25.303' AS DateTime), 0, NULL, NULL, NULL)
INSERT [dbo].[NGUOI_DUNG] ([ma_nguoi_dung], [ho_ten], [mat_khau], [email], [so_dien_thoai], [vai_tro], [ngay_tao], [da_xoa], [ngay_sinh], [anh_dai_dien], [trang_thai]) VALUES (3, N'Lê Văn Chung', N'123456', N'c@gmail.com', N'0911111113', N'Traveler', CAST(N'2026-04-15T20:24:25.303' AS DateTime), 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NGUOI_DUNG] OFF
GO
SET IDENTITY_INSERT [dbo].[THANH_TOAN] ON 

INSERT [dbo].[THANH_TOAN] ([ma_thanh_toan], [ma_don], [phuong_thuc], [so_tien], [trang_thai], [ma_giao_dich], [ngay_thanh_toan]) VALUES (1, 1, N'VNpay', CAST(1200000.00 AS Decimal(15, 2)), N'Thành công', N'TXN001', CAST(N'2026-04-15T20:24:25.380' AS DateTime))
INSERT [dbo].[THANH_TOAN] ([ma_thanh_toan], [ma_don], [phuong_thuc], [so_tien], [trang_thai], [ma_giao_dich], [ngay_thanh_toan]) VALUES (2, 2, N'Momo', CAST(850000.00 AS Decimal(15, 2)), N'Thành công', N'TXN002', CAST(N'2026-04-15T20:24:25.380' AS DateTime))
INSERT [dbo].[THANH_TOAN] ([ma_thanh_toan], [ma_don], [phuong_thuc], [so_tien], [trang_thai], [ma_giao_dich], [ngay_thanh_toan]) VALUES (3, 3, N'Bank_transfer', CAST(990000.00 AS Decimal(15, 2)), N'Chờ thanh toán', N'TXN003', CAST(N'2026-04-15T20:24:25.380' AS DateTime))
SET IDENTITY_INSERT [dbo].[THANH_TOAN] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MA_GIAM___7749BF8FE31DEBC0]    Script Date: 5/6/2026 8:49:04 PM ******/
ALTER TABLE [dbo].[MA_GIAM_GIA] ADD UNIQUE NONCLUSTERED 
(
	[ma_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NGUOI_DU__AB6E6164799F840F]    Script Date: 5/6/2026 8:49:04 PM ******/
ALTER TABLE [dbo].[NGUOI_DUNG] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__THANH_TO__FB80ED33E729BAC8]    Script Date: 5/6/2026 8:49:04 PM ******/
ALTER TABLE [dbo].[THANH_TOAN] ADD UNIQUE NONCLUSTERED 
(
	[ma_giao_dich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHI_TIET_DON_DAT] ADD  DEFAULT ((1)) FOR [so_luong]
GO
ALTER TABLE [dbo].[DANH_GIA] ADD  DEFAULT (getdate()) FOR [ngay_danh_gia]
GO
ALTER TABLE [dbo].[DIA_DIEM] ADD  DEFAULT (N'Việt Nam') FOR [quoc_gia]
GO
ALTER TABLE [dbo].[DIA_DIEM] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[DIA_DIEM] ADD  DEFAULT ((0)) FOR [da_xoa]
GO
ALTER TABLE [dbo].[DICH_VU] ADD  DEFAULT ((100)) FOR [so_luong_toi_da]
GO
ALTER TABLE [dbo].[DICH_VU] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[DICH_VU] ADD  DEFAULT ((0)) FOR [da_xoa]
GO
ALTER TABLE [dbo].[DON_DAT] ADD  DEFAULT ((0)) FOR [tong_tien]
GO
ALTER TABLE [dbo].[DON_DAT] ADD  DEFAULT (N'Chờ xác nhận') FOR [trang_thai]
GO
ALTER TABLE [dbo].[DON_DAT] ADD  DEFAULT (getdate()) FOR [ngay_dat]
GO
ALTER TABLE [dbo].[LICH_TRINH] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[MA_GIAM_GIA] ADD  DEFAULT ((100)) FOR [so_luong]
GO
ALTER TABLE [dbo].[MA_GIAM_GIA] ADD  DEFAULT ((0)) FOR [da_xoa]
GO
ALTER TABLE [dbo].[NGUOI_DUNG] ADD  DEFAULT ('user') FOR [vai_tro]
GO
ALTER TABLE [dbo].[NGUOI_DUNG] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[NGUOI_DUNG] ADD  DEFAULT ((0)) FOR [da_xoa]
GO
ALTER TABLE [dbo].[NGUOI_DUNG] ADD  DEFAULT (N'HoatDong') FOR [trang_thai]
GO
ALTER TABLE [dbo].[THANH_TOAN] ADD  DEFAULT (N'Tiền mặt') FOR [phuong_thuc]
GO
ALTER TABLE [dbo].[THANH_TOAN] ADD  DEFAULT (N'Chờ thanh toán') FOR [trang_thai]
GO
ALTER TABLE [dbo].[THANH_TOAN] ADD  DEFAULT (getdate()) FOR [ngay_thanh_toan]
GO
ALTER TABLE [dbo].[CHI_TIET_DON_DAT]  WITH CHECK ADD FOREIGN KEY([ma_dich_vu])
REFERENCES [dbo].[DICH_VU] ([ma_dich_vu])
GO
ALTER TABLE [dbo].[CHI_TIET_DON_DAT]  WITH CHECK ADD FOREIGN KEY([ma_don])
REFERENCES [dbo].[DON_DAT] ([ma_don])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_LICH_TRINH]  WITH CHECK ADD FOREIGN KEY([ma_dia_diem])
REFERENCES [dbo].[DIA_DIEM] ([ma_dia_diem])
GO
ALTER TABLE [dbo].[CHI_TIET_LICH_TRINH]  WITH CHECK ADD FOREIGN KEY([ma_dich_vu])
REFERENCES [dbo].[DICH_VU] ([ma_dich_vu])
GO
ALTER TABLE [dbo].[CHI_TIET_LICH_TRINH]  WITH CHECK ADD FOREIGN KEY([ma_lich_trinh])
REFERENCES [dbo].[LICH_TRINH] ([ma_lich_trinh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH CHECK ADD FOREIGN KEY([ma_dia_diem])
REFERENCES [dbo].[DIA_DIEM] ([ma_dia_diem])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH CHECK ADD FOREIGN KEY([ma_dich_vu])
REFERENCES [dbo].[DICH_VU] ([ma_dich_vu])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH CHECK ADD FOREIGN KEY([ma_nguoi_dung])
REFERENCES [dbo].[NGUOI_DUNG] ([ma_nguoi_dung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DICH_VU]  WITH CHECK ADD FOREIGN KEY([ma_danh_muc])
REFERENCES [dbo].[DANH_MUC_DICH_VU] ([ma_danh_muc])
GO
ALTER TABLE [dbo].[DICH_VU]  WITH CHECK ADD FOREIGN KEY([ma_dia_diem])
REFERENCES [dbo].[DIA_DIEM] ([ma_dia_diem])
GO
ALTER TABLE [dbo].[DON_DAT]  WITH CHECK ADD FOREIGN KEY([ma_giam_gia])
REFERENCES [dbo].[MA_GIAM_GIA] ([ma_giam_gia])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DON_DAT]  WITH CHECK ADD FOREIGN KEY([ma_nguoi_dung])
REFERENCES [dbo].[NGUOI_DUNG] ([ma_nguoi_dung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HINH_ANH]  WITH CHECK ADD FOREIGN KEY([ma_dia_diem])
REFERENCES [dbo].[DIA_DIEM] ([ma_dia_diem])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HINH_ANH]  WITH CHECK ADD FOREIGN KEY([ma_dich_vu])
REFERENCES [dbo].[DICH_VU] ([ma_dich_vu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LICH_TRINH]  WITH CHECK ADD FOREIGN KEY([ma_nguoi_dung])
REFERENCES [dbo].[NGUOI_DUNG] ([ma_nguoi_dung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[THANH_TOAN]  WITH CHECK ADD FOREIGN KEY([ma_don])
REFERENCES [dbo].[DON_DAT] ([ma_don])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH CHECK ADD CHECK  (([so_sao]>=(1) AND [so_sao]<=(5)))
GO
ALTER TABLE [dbo].[DON_DAT]  WITH CHECK ADD CHECK  (([trang_thai]=N'Đã hủy' OR [trang_thai]=N'Thất bại' OR [trang_thai]=N'Thành công' OR [trang_thai]=N'Chờ xác nhận'))
GO
ALTER TABLE [dbo].[MA_GIAM_GIA]  WITH CHECK ADD CHECK  (([phan_tram_giam]>=(0) AND [phan_tram_giam]<=(100)))
GO
ALTER TABLE [dbo].[NGUOI_DUNG]  WITH CHECK ADD CHECK  (([vai_tro]='Admin' OR [vai_tro]='Traveler' OR [vai_tro]='Guest' OR [vai_tro]='ServiceProvider'))
GO
ALTER TABLE [dbo].[NGUOI_DUNG]  WITH CHECK ADD CHECK  (([vai_tro]='Admin' OR [vai_tro]='Traveler' OR [vai_tro]='Guest' OR [vai_tro]='ServiceProvider'))
GO
ALTER TABLE [dbo].[THANH_TOAN]  WITH CHECK ADD CHECK  (([phuong_thuc]=N'Credit_card' OR [phuong_thuc]=N'VNpay' OR [phuong_thuc]=N'Momo' OR [phuong_thuc]=N'Bank_transfer' OR [phuong_thuc]=N'Tiền mặt'))
GO
ALTER TABLE [dbo].[THANH_TOAN]  WITH CHECK ADD CHECK  (([trang_thai]=N'Đã hủy' OR [trang_thai]=N'Thất bại' OR [trang_thai]=N'Thành công' OR [trang_thai]=N'Chờ thanh toán'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AnDichVu]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--14 Kiểm duyệt (ẩn dịch vụ)
CREATE   PROCEDURE [dbo].[sp_AnDichVu]
    @ma_dich_vu INT
AS
BEGIN
    UPDATE DICH_VU
    SET da_xoa = 1
    WHERE ma_dich_vu = @ma_dich_vu
END
--test
EXEC sp_AnDichVu
	@ma_dich_vu=1;
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatTongTienDon]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--1
CREATE   PROCEDURE [dbo].[sp_CapNhatTongTienDon]
    @ma_don INT,
    @tong_tien DECIMAL(15,2) OUTPUT
AS
BEGIN
    BEGIN TRY
        SELECT @tong_tien = SUM(so_luong * don_gia)
        FROM CHI_TIET_DON_DAT
        WHERE ma_don = @ma_don

        UPDATE DON_DAT
        SET tong_tien = @tong_tien
        WHERE ma_don = @ma_don

        RETURN 1
    END TRY
    BEGIN CATCH
        SET @tong_tien = 0
        RETURN 0
    END CATCH
END
--Test
DECLARE @tong DECIMAL(15,2), @kq INT
EXEC @kq = sp_CapNhatTongTienDon 
    @ma_don = 1,
    @tong_tien = @tong OUTPUT
SELECT @tong AS tong_tien
GO
/****** Object:  StoredProcedure [dbo].[sp_CloneLichTrinh]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--11 Clone lịch trình mẫu
CREATE   PROCEDURE [dbo].[sp_CloneLichTrinh]
    @ma_lich_trinh_cu INT,
    @ma_nguoi_dung_moi INT
AS
BEGIN
    DECLARE @new_id INT

    INSERT INTO LICH_TRINH(ma_nguoi_dung, ten_lich_trinh, ngay_bat_dau, ngay_ket_thuc)
    SELECT @ma_nguoi_dung_moi, ten_lich_trinh, ngay_bat_dau, ngay_ket_thuc
    FROM LICH_TRINH WHERE ma_lich_trinh = @ma_lich_trinh_cu
    SET @new_id = SCOPE_IDENTITY()
    INSERT INTO CHI_TIET_LICH_TRINH(ma_lich_trinh, ma_dia_diem, ma_dich_vu, thu_tu)
    SELECT @new_id, ma_dia_diem, ma_dich_vu, thu_tu
    FROM CHI_TIET_LICH_TRINH
    WHERE ma_lich_trinh = @ma_lich_trinh_cu
END
--test
EXEC sp_CloneLichTrinh
    @ma_lich_trinh_cu = 1,
    @ma_nguoi_dung_moi = 1;
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhGia]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--10 Đánh giá dịch vụ
CREATE   PROCEDURE [dbo].[sp_DanhGia]
    @ma_nguoi_dung INT,
    @ma_dich_vu INT,
    @so_sao INT,
    @binh_luan NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO DANH_GIA(ma_nguoi_dung, ma_dich_vu, so_sao, binh_luan)
    VALUES (@ma_nguoi_dung, @ma_dich_vu, @so_sao, @binh_luan)
END
--test
EXEC sp_DanhGia
    @ma_nguoi_dung = 1,
    @ma_dich_vu = 1,
    @so_sao = 5,
    @binh_luan = N'Rất ok';
GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThuTheoDiaDiem]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--8
CREATE   PROCEDURE [dbo].[sp_DoanhThuTheoDiaDiem]
    @ma_dia_diem INT = NULL  
AS
BEGIN
    SELECT 
        dd.ma_dia_diem,
        dd.ten_dia_diem,
        ISNULL(SUM(tt.so_tien), 0) AS doanh_thu
    FROM DIA_DIEM dd
    LEFT JOIN DICH_VU dv ON dd.ma_dia_diem = dv.ma_dia_diem
    LEFT JOIN CHI_TIET_DON_DAT ct ON dv.ma_dich_vu = ct.ma_dich_vu
    LEFT JOIN DON_DAT d ON ct.ma_don = d.ma_don
    LEFT JOIN THANH_TOAN tt 
        ON d.ma_don = tt.ma_don 
        AND tt.trang_thai = N'Thành công'

    WHERE (@ma_dia_diem IS NULL OR dd.ma_dia_diem = @ma_dia_diem)

    GROUP BY dd.ma_dia_diem, dd.ten_dia_diem
    ORDER BY doanh_thu DESC
END
--test
EXEC sp_DoanhThuTheoDiaDiem
    @ma_dia_diem = 6
GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThuTongHop]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--12 Thống kê doanh thu
CREATE   PROCEDURE [dbo].[sp_DoanhThuTongHop]
    @ngay DATE = NULL,
    @thang INT = NULL,
    @nam INT = NULL
AS
BEGIN
    -- Theo ngày
    IF @ngay IS NOT NULL
    BEGIN
        SELECT 
            CAST(ngay_thanh_toan AS DATE) AS ngay,
            SUM(so_tien) AS tong_doanh_thu
        FROM THANH_TOAN
        WHERE trang_thai = N'Thành công'
          AND CAST(ngay_thanh_toan AS DATE) = @ngay
        GROUP BY CAST(ngay_thanh_toan AS DATE)
        RETURN
    END

    -- Theo tháng
    IF @thang IS NOT NULL AND @nam IS NOT NULL
    BEGIN
        SELECT 
            @thang AS thang,
            @nam AS nam,
            SUM(so_tien) AS tong_doanh_thu
        FROM THANH_TOAN
        WHERE trang_thai = N'Thành công'
          AND MONTH(ngay_thanh_toan) = @thang
          AND YEAR(ngay_thanh_toan) = @nam
        RETURN
    END

    -- Theo năm
    IF @nam IS NOT NULL
    BEGIN
        SELECT 
            @nam AS nam,
            SUM(so_tien) AS tong_doanh_thu
        FROM THANH_TOAN
        WHERE trang_thai = N'Thành công'
          AND YEAR(ngay_thanh_toan) = @nam
        RETURN
    END

    -- Không nhập gì → trả toàn bộ theo tháng
    SELECT 
        YEAR(ngay_thanh_toan) AS nam,
        MONTH(ngay_thanh_toan) AS thang,
        SUM(so_tien) AS tong_doanh_thu
    FROM THANH_TOAN
    WHERE trang_thai = N'Thành công'
    GROUP BY YEAR(ngay_thanh_toan), MONTH(ngay_thanh_toan)
END
--test
EXEC sp_DoanhThuTongHop 
    @ngay = '2026-04-15';
EXEC sp_DoanhThuTongHop 
    @thang = 4,
    @nam = 2026;
EXEC sp_DoanhThuTongHop 
    @nam = 2026;
GO
/****** Object:  StoredProcedure [dbo].[sp_GoiYDiaDiemGanNhat]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--3 Gợi ý địa điểm gần nhau (map)
CREATE   PROCEDURE [dbo].[sp_GoiYDiaDiemGanNhat]
    @lat FLOAT,
    @lng FLOAT
AS
BEGIN
    SELECT TOP 5 *,
        toa_do.STDistance(geography::Point(@lat, @lng, 4326)) AS khoang_cach
    FROM DIA_DIEM
    ORDER BY khoang_cach
END
--test
EXEC sp_GoiYDiaDiemGanNhat 
    @lat = 21.03,
    @lng = 105.85;
GO
/****** Object:  StoredProcedure [dbo].[sp_LichSuDat]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--7
CREATE   PROCEDURE [dbo].[sp_LichSuDat]
    @ma_nguoi_dung INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM NGUOI_DUNG WHERE ma_nguoi_dung = @ma_nguoi_dung)
        RETURN 0
    SELECT 
        ma_don,
        ngay_dat,
        tong_tien,
        trang_thai
    FROM DON_DAT
    WHERE ma_nguoi_dung = @ma_nguoi_dung
    RETURN 1
END
--test
EXEC sp_LichSuDat @ma_nguoi_dung=1
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoDonDat]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--7 Đặt dịch vụ (tạo đơn)
CREATE   PROCEDURE [dbo].[sp_TaoDonDat]
    @ma_nguoi_dung INT,
    @ma_giam_gia INT = NULL
AS
BEGIN
    INSERT INTO DON_DAT(ma_nguoi_dung, ma_giam_gia)
    VALUES (@ma_nguoi_dung, @ma_giam_gia)

    SELECT SCOPE_IDENTITY() AS ma_don
END
--test
EXEC sp_TaoDonDat @ma_nguoi_dung = 1;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoLichTrinh]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--1 Tao lich trinh mơi
CREATE   PROCEDURE [dbo].[sp_TaoLichTrinh]
    @ma_nguoi_dung INT,
    @ten_lich_trinh NVARCHAR(150),
    @ngay_bat_dau DATE,
    @ngay_ket_thuc DATE
AS
BEGIN
    INSERT INTO LICH_TRINH(ma_nguoi_dung, ten_lich_trinh, ngay_bat_dau, ngay_ket_thuc)
    VALUES (@ma_nguoi_dung, @ten_lich_trinh, @ngay_bat_dau, @ngay_ket_thuc)
END
--test
EXEC sp_TaoLichTrinh 
    @ma_nguoi_dung = 1,
    @ten_lich_trinh = N'Du lịch Hà Nội',
    @ngay_bat_dau = '2026-05-01',
    @ngay_ket_thuc = '2026-05-03';
GO
/****** Object:  StoredProcedure [dbo].[sp_ThanhToan]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--9 Thanh toán
CREATE   PROCEDURE [dbo].[sp_ThanhToan]
    @ma_don INT,
    @phuong_thuc NVARCHAR(20),
    @so_tien DECIMAL(15,2),
    @ma_giao_dich NVARCHAR(100)
AS
BEGIN
    BEGIN TRY
        INSERT INTO THANH_TOAN(ma_don, phuong_thuc, so_tien, trang_thai, ma_giao_dich)
        VALUES (@ma_don, @phuong_thuc, @so_tien, N'Thành công', @ma_giao_dich)

        UPDATE DON_DAT
        SET trang_thai = N'Thành công'
        WHERE ma_don = @ma_don

        RETURN 1 -- thành công
    END TRY
    BEGIN CATCH
        RETURN 0 -- thất bại
    END CATCH
END
--test
DECLARE @result INT
EXEC @result = sp_ThanhToan
    @ma_don = 6,
    @phuong_thuc = N'Momo',
    @so_tien = 1000000,
    @ma_giao_dich = 'TEST002'
SELECT @result AS ket_qua
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemChiTietDon]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--8 Thêm dịch vụ vào đơn
CREATE   PROCEDURE [dbo].[sp_ThemChiTietDon]
    @ma_don INT,
    @ma_dich_vu INT,
    @so_luong INT
AS
BEGIN
    DECLARE @gia DECIMAL(15,2)

    SELECT @gia = gia_co_ban FROM DICH_VU WHERE ma_dich_vu = @ma_dich_vu

    INSERT INTO CHI_TIET_DON_DAT(ma_don, ma_dich_vu, so_luong, don_gia)
    VALUES (@ma_don, @ma_dich_vu, @so_luong, @gia)
END
--test
EXEC sp_ThemChiTietDon
    @ma_don = 1,
    @ma_dich_vu = 1,
    @so_luong = 2;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemChiTietLichTrinh]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--2 Thêm địa điểm vào lịch trình
CREATE   PROCEDURE [dbo].[sp_ThemChiTietLichTrinh]
    @ma_lich_trinh INT,
    @ma_dia_diem INT,
    @ma_dich_vu INT,
    @thu_tu INT
AS
BEGIN
    INSERT INTO CHI_TIET_LICH_TRINH(ma_lich_trinh, ma_dia_diem, ma_dich_vu, thu_tu)
    VALUES (@ma_lich_trinh, @ma_dia_diem, @ma_dich_vu, @thu_tu)
END
--test
EXEC sp_ThemChiTietLichTrinh 
    @ma_lich_trinh = 1,
    @ma_dia_diem = 1,
    @ma_dich_vu = 1,
    @thu_tu = 1;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeNguoiDungTongHop]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--13 Thống kê người dùng
CREATE   PROCEDURE [dbo].[sp_ThongKeNguoiDungTongHop]
    @ngay DATE = NULL,
    @thang INT = NULL,
    @nam INT = NULL
AS
BEGIN
    -- Theo ngày
    IF @ngay IS NOT NULL
    BEGIN
        SELECT 
            CAST(ngay_tao AS DATE) AS ngay,
            COUNT(*) AS so_nguoi_dung
        FROM NGUOI_DUNG
        WHERE da_xoa = 0
          AND CAST(ngay_tao AS DATE) = @ngay
        GROUP BY CAST(ngay_tao AS DATE)
        RETURN
    END

    -- Theo tháng
    IF @thang IS NOT NULL AND @nam IS NOT NULL
    BEGIN
        SELECT 
            @thang AS thang,
            @nam AS nam,
            COUNT(*) AS so_nguoi_dung
        FROM NGUOI_DUNG
        WHERE da_xoa = 0
          AND MONTH(ngay_tao) = @thang
          AND YEAR(ngay_tao) = @nam
        RETURN
    END

    -- Theo năm
    IF @nam IS NOT NULL
    BEGIN
        SELECT 
            @nam AS nam,
            COUNT(*) AS so_nguoi_dung
        FROM NGUOI_DUNG
        WHERE da_xoa = 0
          AND YEAR(ngay_tao) = @nam
        RETURN
    END

    -- Không nhập gì → thống kê theo tháng
    SELECT 
        YEAR(ngay_tao) AS nam,
        MONTH(ngay_tao) AS thang,
        COUNT(*) AS so_nguoi_dung
    FROM NGUOI_DUNG
    WHERE da_xoa = 0
    GROUP BY YEAR(ngay_tao), MONTH(ngay_tao)
    ORDER BY nam, thang
END
--test
EXEC sp_ThongKeNguoiDungTongHop 
    @ngay = '2026-04-15';
EXEC sp_ThongKeNguoiDungTongHop 
    @thang = 4,
    @nam = 2026;
EXEC sp_ThongKeNguoiDungTongHop 
    @nam = 2026;
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemDichVu]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--6 Tìm kiếm dịch vụ
CREATE   PROCEDURE [dbo].[sp_TimKiemDichVu]
    @tinh_thanh NVARCHAR(100),
    @gia_min DECIMAL(15,2),
    @gia_max DECIMAL(15,2)
AS
BEGIN
    SELECT dv.*
    FROM DICH_VU dv
    JOIN DIA_DIEM dd ON dv.ma_dia_diem = dd.ma_dia_diem
    WHERE dd.tinh_thanh LIKE '%' + @tinh_thanh + '%'
      AND dv.gia_co_ban BETWEEN @gia_min AND @gia_max
END
--test
EXEC sp_TimKiemDichVu 
    @tinh_thanh = N'Hà Nội',
    @gia_min = 0,
    @gia_max = 1000000;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhChiPhiLichTrinh]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--4 Tính chi phí lịch trình
CREATE   PROCEDURE [dbo].[sp_TinhChiPhiLichTrinh]
    @ma_lich_trinh INT
AS
BEGIN
    SELECT SUM(dv.gia_co_ban) AS tong_chi_phi
    FROM CHI_TIET_LICH_TRINH ct
    JOIN DICH_VU dv ON ct.ma_dich_vu = dv.ma_dich_vu
    WHERE ct.ma_lich_trinh = @ma_lich_trinh
END
--test
EXEC sp_TinhChiPhiLichTrinh @ma_lich_trinh = 1;
GO
/****** Object:  StoredProcedure [dbo].[sp_TopDanhGia]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--4
CREATE   PROCEDURE [dbo].[sp_TopDanhGia]
AS
BEGIN
    SELECT TOP 5
        dv.ten_dich_vu,
        AVG(dg.so_sao) AS diem_trung_binh
    FROM DANH_GIA dg
    JOIN DICH_VU dv ON dg.ma_dich_vu = dv.ma_dich_vu
    GROUP BY dv.ten_dich_vu
    ORDER BY diem_trung_binh DESC
	RETURN 1
END
--test 
EXEC sp_TopDanhGia
GO
/****** Object:  StoredProcedure [dbo].[sp_TopDichVu]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--3
CREATE   PROCEDURE [dbo].[sp_TopDichVu]
AS
BEGIN
    SELECT TOP 5 
        dv.ten_dich_vu,
        SUM(ct.so_luong) AS tong_ban
    FROM CHI_TIET_DON_DAT ct
    JOIN DICH_VU dv ON ct.ma_dich_vu = dv.ma_dich_vu
    GROUP BY dv.ten_dich_vu
    ORDER BY tong_ban DESC

    RETURN 1
END 
--test 
EXEC sp_TopDichVu
GO
/****** Object:  StoredProcedure [dbo].[sp_XemChiTietDon]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--5
CREATE   PROCEDURE [dbo].[sp_XemChiTietDon]
    @ma_don INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM DON_DAT WHERE ma_don = @ma_don)
        RETURN 0
    SELECT 
        dv.ten_dich_vu,
        ct.so_luong,
        ct.don_gia,
        (ct.so_luong * ct.don_gia) AS thanh_tien
    FROM CHI_TIET_DON_DAT ct
    JOIN DICH_VU dv ON ct.ma_dich_vu = dv.ma_dich_vu
    WHERE ct.ma_don = @ma_don
    RETURN 1
END
--test
EXEC sp_XemChiTietDon
	@ma_don=1
GO
/****** Object:  StoredProcedure [dbo].[sp_XemLichTrinh]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--5 Chia sẻ lịch trình (đơn giản)
CREATE   PROCEDURE [dbo].[sp_XemLichTrinh]
    @ma_lich_trinh INT
AS
BEGIN
    SELECT *
    FROM CHI_TIET_LICH_TRINH ct
    JOIN DIA_DIEM dd ON ct.ma_dia_diem = dd.ma_dia_diem
    WHERE ct.ma_lich_trinh = @ma_lich_trinh
END
--test
EXEC sp_XemLichTrinh @ma_lich_trinh = 1;
GO
/****** Object:  Trigger [dbo].[trg_CapNhatTongTien]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--1 TRIGGER TỰ ĐỘNG CẬP NHẬT tong_tien
CREATE   TRIGGER [dbo].[trg_CapNhatTongTien]
ON [dbo].[CHI_TIET_DON_DAT]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    -- Lấy danh sách mã đơn bị ảnh hưởng
    DECLARE @ds TABLE(ma_don INT)

    INSERT INTO @ds(ma_don)
    SELECT DISTINCT ma_don FROM inserted
    UNION
    SELECT DISTINCT ma_don FROM deleted

    -- Cập nhật lại tổng tiền
    UPDATE d
    SET tong_tien = ISNULL((
        SELECT SUM(so_luong * don_gia)
        FROM CHI_TIET_DON_DAT ct
        WHERE ct.ma_don = d.ma_don
    ), 0)
    FROM DON_DAT d
    JOIN @ds x ON d.ma_don = x.ma_don
END
--test
SELECT tong_tien from DON_DAT where ma_don=1;
GO
ALTER TABLE [dbo].[CHI_TIET_DON_DAT] ENABLE TRIGGER [trg_CapNhatTongTien]
GO
/****** Object:  Trigger [dbo].[trg_GiamSoLuong]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--5 TRIGGER GIẢM SỐ LƯỢNG DỊCH VỤ
CREATE   TRIGGER [dbo].[trg_GiamSoLuong]
ON [dbo].[CHI_TIET_DON_DAT]
AFTER INSERT
AS
BEGIN
    UPDATE dv
    SET so_luong_toi_da = so_luong_toi_da - i.so_luong
    FROM DICH_VU dv
    JOIN inserted i ON dv.ma_dich_vu = i.ma_dich_vu
END
--test
SELECT so_luong_toi_da From DICH_VU where ma_dich_vu=6;
GO
ALTER TABLE [dbo].[CHI_TIET_DON_DAT] ENABLE TRIGGER [trg_GiamSoLuong]
GO
/****** Object:  Trigger [dbo].[trg_MotDanhGia]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--4 TRIGGER GIỚI HẠN ĐÁNH GIÁ (1 user / 1 dịch vụ)
CREATE   TRIGGER [dbo].[trg_MotDanhGia]
ON [dbo].[DANH_GIA]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN DANH_GIA dg
        ON i.ma_nguoi_dung = dg.ma_nguoi_dung
        AND i.ma_dich_vu = dg.ma_dich_vu
    )
    BEGIN
        PRINT N'Bạn đã đánh giá rồi!'
        RETURN
    END
    INSERT INTO DANH_GIA(ma_nguoi_dung, ma_dich_vu, so_sao, binh_luan, ngay_danh_gia)
    SELECT ma_nguoi_dung, ma_dich_vu, so_sao, binh_luan, GETDATE()
    FROM inserted
END
--test
INSERT INTO DANH_GIA(ma_nguoi_dung, ma_dich_vu, so_sao, binh_luan)
VALUES (1, 1, 5, N'Tốt');
GO
ALTER TABLE [dbo].[DANH_GIA] ENABLE TRIGGER [trg_MotDanhGia]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatTrangThaiDon]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--2 TRIGGER TỰ ĐỘNG CẬP NHẬT TRẠNG THÁI ĐƠN
CREATE   TRIGGER [dbo].[trg_CapNhatTrangThaiDon]
ON [dbo].[THANH_TOAN]
AFTER INSERT
AS
BEGIN
    UPDATE d
    SET trang_thai = N'Thành công'
    FROM DON_DAT d
    JOIN inserted i ON d.ma_don = i.ma_don
    WHERE i.trang_thai = N'Thành công'
END
--test
SELECT trang_thai From DON_DAT where ma_don=1;
GO
ALTER TABLE [dbo].[THANH_TOAN] ENABLE TRIGGER [trg_CapNhatTrangThaiDon]
GO
/****** Object:  Trigger [dbo].[trg_KhongThanhToan2Lan]    Script Date: 5/6/2026 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--3 TRIGGER CHỐNG THANH TOÁN 2 LẦN
CREATE   TRIGGER [dbo].[trg_KhongThanhToan2Lan]
ON [dbo].[THANH_TOAN]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN THANH_TOAN tt 
            ON i.ma_don = tt.ma_don
        WHERE tt.trang_thai = N'Thành công'
    )
    BEGIN
        PRINT N'Đơn đã thanh toán rồi!'
        RETURN
    END

    INSERT INTO THANH_TOAN(ma_don, phuong_thuc, so_tien, trang_thai, ma_giao_dich, ngay_thanh_toan)
    SELECT ma_don, phuong_thuc, so_tien, trang_thai, ma_giao_dich, ngay_thanh_toan
    FROM inserted
END
--test
-- Thử thanh toán lại
INSERT INTO THANH_TOAN(ma_don, phuong_thuc, so_tien, trang_thai, ma_giao_dich)
VALUES (1, N'Momo', 1500000, N'Thành công', 'TT002');
GO
ALTER TABLE [dbo].[THANH_TOAN] ENABLE TRIGGER [trg_KhongThanhToan2Lan]
GO
